In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
from sklearn.ensemble import RandomForestRegressor

In [3]:
df_precios_electricos= pd.read_csv("ElectricCarData_Clean.csv")

In [4]:
# Se accede a la informacion de los datos
df_precios_electricos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Brand            103 non-null    object
 1   Model            103 non-null    object
 2   AccelSec         103 non-null    float64
 3   TopSpeed_KmH     103 non-null    int64
 4   Range_Km         103 non-null    int64
 5   Efficiency_WhKm  103 non-null    int64
 6   FastCharge_KmH   103 non-null    object
 7   RapidCharge      103 non-null    object
 8   PowerTrain       103 non-null    object
 9   PlugType         103 non-null    object
 10  BodyStyle        103 non-null    object
 11  Segment          103 non-null    object
 12  Seats            103 non-null    int64
 13  PriceEuro        103 non-null    int64
dtypes: float64(1), int64(5), object(8)
memory usage: 11.4+ KB

In [5]:
# Se observan duplicados
df_precios_electricos.duplicated().sum()

0

In [6]:
# Se cuentan valores nulos en total
total_valores_nulos = df_precios_electricos.isnull().sum().sum()
total_valores_nulos

0

In [7]:
df_precios_electricos

,Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment,Seats,PriceEuro
0,Tesla,Model 3 Long Range Dual Motor,4.6,233,450,161,940,Yes,AWD,Type 2 CCS,Sedan,D,5,55480
1,Volkswagen,ID.3 Pure,10.0,160,270,167,250,Yes,RWD,Type 2 CCS,Hatchback,C,5,30000
2,Polestar,2,4.7,210,400,181,620,Yes,AWD,Type 2 CCS,Liftback,D,5,56440
3,BMW,iX3,6.8,180,360,206,560,Yes,RWD,Type 2 CCS,SUV,D,5,68040
4,Honda,e,9.5,145,170,168,190,Yes,RWD,Type 2 CCS,Hatchback,B,4,32997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Nissan,Ariya 63kWh,7.5,160,330,191,440,Yes,FWD,Type 2 CCS,Hatchback,C,5,45000
99,Audi,e-tron S Sportback 55 quattro,4.5,210,335,258,540,Yes,AWD,Type 2 CCS,SUV,E,5,96050
100,Nissan,Ariya e-4ORCE 63kWh,5.9,200,325,194,440,Yes,AWD,Type 2 CCS,Hatchback,C,5,50000
101,Nissan,Ariya e-4ORCE 87kWh Performance,5.1,200,375,232,450,Yes,AWD,Type 2 CCS,Hatchback,C,5,65000
102,Byton,M-Byte 95 kWh 2WD,7.5,190,400,238,480,Yes,AWD,Type 2 CCS,SUV,E,5,62000

* Brand (Marca): Nombre de la marca del automÃ³vil elÃ©ctrico.

* Model (Modelo): Nombre o identificador del modelo del automÃ³vil elÃ©ctrico.

* Range_miles (AutonomÃ­a en millas): Distancia mÃ¡xima que puede recorrer el automÃ³vil con una carga completa en millas.

* Efficiency_Whmi (Eficiencia en Wh/millas): Eficiencia energÃ©tica del automÃ³vil medida en vatios-hora por milla.

* FastCharge_miH (Carga RÃ¡pida en millas/h): Velocidad de carga rÃ¡pida del automÃ³vil en millas por hora.

* RapidCharge (Carga RÃ¡pida): Indicador de si el automÃ³vil es compatible con carga rÃ¡pida.

* PriceDollar (Precio en dolares): Precio del automÃ³vil elÃ©ctrico en dolares.

In [8]:
# Convertir la tupla a una lista
columnas_a_eliminar = ['PowerTrain', 'PlugType', 'BodyStyle', 'Segment', 'AccelSec', 'TopSpeed_KmH']

# Eliminar las columnas del DataFrame
df_precios_electricos = df_precios_electricos.drop(columns=columnas_a_eliminar)

In [9]:
df_precios_electricos

,Brand,Model,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge,Seats,PriceEuro
0,Tesla,Model 3 Long Range Dual Motor,450,161,940,Yes,5,55480
1,Volkswagen,ID.3 Pure,270,167,250,Yes,5,30000
2,Polestar,2,400,181,620,Yes,5,56440
3,BMW,iX3,360,206,560,Yes,5,68040
4,Honda,e,170,168,190,Yes,4,32997
...,...,...,...,...,...,...,...,...
98,Nissan,Ariya 63kWh,330,191,440,Yes,5,45000
99,Audi,e-tron S Sportback 55 quattro,335,258,540,Yes,5,96050
100,Nissan,Ariya e-4ORCE 63kWh,325,194,440,Yes,5,50000
101,Nissan,Ariya e-4ORCE 87kWh Performance,375,232,450,Yes,5,65000
102,Byton,M-Byte 95 kWh 2WD,400,238,480,Yes,5,62000

In [10]:
# Convertir 'Range_Km' a millas
df_precios_electricos['Range_Miles'] = df_precios_electricos['Range_Km'] * 0.621371

# Mostrar el DataFrame actualizado
df_precios_electricos[['Range_Km', 'Range_Miles']]

     Range_Km  Range_Miles
0         450   279.616950
1         270   167.770170
2         400   248.548400
3         360   223.693560
4         170   105.633070
..        ...          ...
98        330   205.052430
99        335   208.159285
100       325   201.945575
101       375   233.014125
102       400   248.548400

[103 rows x 2 columns]

In [11]:
# Cambiar el nombre de la columna
df_precios_electricos.rename(columns={'FastCharge_KmH': 'FastCharge_miH','Efficiency_WhKm':'Efficiency_Whmi'}, inplace=True)

# Mostrar el DataFrame actualizado
df_precios_electricos

,Brand,Model,Range_Km,Efficiency_Whmi,FastCharge_miH,RapidCharge,Seats,PriceEuro,Range_Miles
0,Tesla,Model 3 Long Range Dual Motor,450,161,940,Yes,5,55480,279.616950
1,Volkswagen,ID.3 Pure,270,167,250,Yes,5,30000,167.770170
2,Polestar,2,400,181,620,Yes,5,56440,248.548400
3,BMW,iX3,360,206,560,Yes,5,68040,223.693560
4,Honda,e,170,168,190,Yes,4,32997,105.633070
...,...,...,...,...,...,...,...,...,...
98,Nissan,Ariya 63kWh,330,191,440,Yes,5,45000,205.052430
99,Audi,e-tron S Sportback 55 quattro,335,258,540,Yes,5,96050,208.159285
100,Nissan,Ariya e-4ORCE 63kWh,325,194,440,Yes,5,50000,201.945575
101,Nissan,Ariya e-4ORCE 87kWh Performance,375,232,450,Yes,5,65000,233.014125
102,Byton,M-Byte 95 kWh 2WD,400,238,480,Yes,5,62000,248.548400

In [12]:
# Eliminar la columna 'Range_Km'
df_precios_electricos.drop(columns=['Range_Km'], inplace=True)

# Mostrar el DataFrame actualizado
df_precios_electricos

,Brand,Model,Efficiency_Whmi,FastCharge_miH,RapidCharge,Seats,PriceEuro,Range_Miles
0,Tesla,Model 3 Long Range Dual Motor,161,940,Yes,5,55480,279.616950
1,Volkswagen,ID.3 Pure,167,250,Yes,5,30000,167.770170
2,Polestar,2,181,620,Yes,5,56440,248.548400
3,BMW,iX3,206,560,Yes,5,68040,223.693560
4,Honda,e,168,190,Yes,4,32997,105.633070
...,...,...,...,...,...,...,...,...
98,Nissan,Ariya 63kWh,191,440,Yes,5,45000,205.052430
99,Audi,e-tron S Sportback 55 quattro,258,540,Yes,5,96050,208.159285
100,Nissan,Ariya e-4ORCE 63kWh,194,440,Yes,5,50000,201.945575
101,Nissan,Ariya e-4ORCE 87kWh Performance,232,450,Yes,5,65000,233.014125
102,Byton,M-Byte 95 kWh 2WD,238,480,Yes,5,62000,248.548400

In [13]:
# Ordenar las columnas manualmente
columnas_ordenadas = ['Brand', 'Model', 'Seats', 'FastCharge_miH', 'Efficiency_Whmi', 'RapidCharge','Range_Miles','PriceEuro']

df_precios_electricos = df_precios_electricos[columnas_ordenadas]

# Mostrar el DataFrame actualizado
df_precios_electricos

,Brand,Model,Seats,FastCharge_miH,Efficiency_Whmi,RapidCharge,Range_Miles,PriceEuro
0,Tesla,Model 3 Long Range Dual Motor,5,940,161,Yes,279.616950,55480
1,Volkswagen,ID.3 Pure,5,250,167,Yes,167.770170,30000
2,Polestar,2,5,620,181,Yes,248.548400,56440
3,BMW,iX3,5,560,206,Yes,223.693560,68040
4,Honda,e,4,190,168,Yes,105.633070,32997
...,...,...,...,...,...,...,...,...
98,Nissan,Ariya 63kWh,5,440,191,Yes,205.052430,45000
99,Audi,e-tron S Sportback 55 quattro,5,540,258,Yes,208.159285,96050
100,Nissan,Ariya e-4ORCE 63kWh,5,440,194,Yes,201.945575,50000
101,Nissan,Ariya e-4ORCE 87kWh Performance,5,450,232,Yes,233.014125,65000
102,Byton,M-Byte 95 kWh 2WD,5,480,238,Yes,248.548400,62000

In [14]:
df_precios_electricos.columns

Index(['Brand', 'Model', 'Seats', 'FastCharge_miH', 'Efficiency_Whmi',
       'RapidCharge', 'Range_Miles', 'PriceEuro'],
      dtype='object')

In [15]:
# Tasa de cambio
tasa_cambio_euro_a_dolar = 1.07

# Convertir el precio de euros a dÃ³lares
df_precios_electricos['PriceDollar'] = df_precios_electricos['PriceEuro'] * tasa_cambio_euro_a_dolar

# Eliminar la columna 'PriceEuro' si ya no la necesitas
df_precios_electricos.drop(columns=['PriceEuro'], inplace=True)

# Mostrar el DataFrame actualizado
df_precios_electricos

,Brand,Model,Seats,FastCharge_miH,Efficiency_Whmi,RapidCharge,Range_Miles,PriceDollar
0,Tesla,Model 3 Long Range Dual Motor,5,940,161,Yes,279.616950,59363.60
1,Volkswagen,ID.3 Pure,5,250,167,Yes,167.770170,32100.00
2,Polestar,2,5,620,181,Yes,248.548400,60390.80
3,BMW,iX3,5,560,206,Yes,223.693560,72802.80
4,Honda,e,4,190,168,Yes,105.633070,35306.79
...,...,...,...,...,...,...,...,...
98,Nissan,Ariya 63kWh,5,440,191,Yes,205.052430,48150.00
99,Audi,e-tron S Sportback 55 quattro,5,540,258,Yes,208.159285,102773.50
100,Nissan,Ariya e-4ORCE 63kWh,5,440,194,Yes,201.945575,53500.00
101,Nissan,Ariya e-4ORCE 87kWh Performance,5,450,232,Yes,233.014125,69550.00
102,Byton,M-Byte 95 kWh 2WD,5,480,238,Yes,248.548400,66340.00

In [16]:
df_precios_electricos = df_precios_electricos.drop(columns='Seats',axis=True)

In [17]:
df_precios_electricos

,Brand,Model,FastCharge_miH,Efficiency_Whmi,RapidCharge,Range_Miles,PriceDollar
0,Tesla,Model 3 Long Range Dual Motor,940,161,Yes,279.616950,59363.60
1,Volkswagen,ID.3 Pure,250,167,Yes,167.770170,32100.00
2,Polestar,2,620,181,Yes,248.548400,60390.80
3,BMW,iX3,560,206,Yes,223.693560,72802.80
4,Honda,e,190,168,Yes,105.633070,35306.79
...,...,...,...,...,...,...,...
98,Nissan,Ariya 63kWh,440,191,Yes,205.052430,48150.00
99,Audi,e-tron S Sportback 55 quattro,540,258,Yes,208.159285,102773.50
100,Nissan,Ariya e-4ORCE 63kWh,440,194,Yes,201.945575,53500.00
101,Nissan,Ariya e-4ORCE 87kWh Performance,450,232,Yes,233.014125,69550.00
102,Byton,M-Byte 95 kWh 2WD,480,238,Yes,248.548400,66340.00

In [18]:
# Convertir valores 'Yes' a 1 y 'No' a 0 en la columna RapidCharge
df_precios_electricos['RapidCharge'] = df_precios_electricos['RapidCharge'].map({'Yes': 1, 'No': 0})

# Reemplazar guiones con NaN y convertir columnas a nÃºmeros
df_precios_electricos['RapidCharge'] = pd.to_numeric(df_precios_electricos['RapidCharge'].replace('-', np.nan), errors='coerce')

In [19]:
# Lista de columnas a convertir
columnas_a_convertir = ['FastCharge_miH', 'Efficiency_Whmi', 'RapidCharge', 'Range_Miles', 'PriceDollar']

# Aplicar la conversiÃ³n solo a las columnas seleccionadas
df_precios_electricos[columnas_a_convertir] = df_precios_electricos[columnas_a_convertir].apply(pd.to_numeric, errors='coerce')

# Verificar los primeros registros despuÃ©s de la conversiÃ³n
df_precios_electricos.head()

,Brand,Model,FastCharge_miH,Efficiency_Whmi,RapidCharge,Range_Miles,PriceDollar
0,Tesla,Model 3 Long Range Dual Motor,940.0,161,1,279.61695,59363.60
1,Volkswagen,ID.3 Pure,250.0,167,1,167.77017,32100.00
2,Polestar,2,620.0,181,1,248.54840,60390.80
3,BMW,iX3,560.0,206,1,223.69356,72802.80
4,Honda,e,190.0,168,1,105.63307,35306.79

In [20]:
# Se encuentran valores faltantes y contarlos por columna
missing_values = df_precios_electricos.isna().sum()

# Se filtran columnas que tienen valores faltantes
columns_with_missing_values = missing_values[missing_values > 0]

# Se muestran las columnas y la cantidad de valores faltantes
print(columns_with_missing_values)

FastCharge_miH    5
dtype: int64

In [21]:
# Se les asume el valor de la media a los valores sin datos
median_value = df_precios_electricos['FastCharge_miH'].mean()
df_precios_electricos['FastCharge_miH'].fillna(median_value, inplace=True)

In [22]:
# Se verifica la insercion de la media en los valores faltantes 
missing_values = df_precios_electricos.isna().sum()


columns_with_missing_values = missing_values[missing_values > 0]


print(columns_with_missing_values)

Series([], dtype: int64)

* Brand (Marca): Nombre de la marca del automÃ³vil elÃ©ctrico.

* Model (Modelo): Nombre o identificador del modelo del automÃ³vil elÃ©ctrico.

* Range_miles (AutonomÃ­a en millas): Distancia mÃ¡xima que puede recorrer el automÃ³vil con una carga completa en millas.

* Efficiency_Whmi (Eficiencia en Wh/millas): Eficiencia energÃ©tica del automÃ³vil medida en vatios-hora por milla.

* FastCharge_miH (Carga RÃ¡pida en millas/h): Velocidad de carga rÃ¡pida del automÃ³vil en millas por hora.

* RapidCharge (Carga RÃ¡pida): Indicador de si el automÃ³vil es compatible con carga rÃ¡pida.

* PriceDollar (Precio en dolares): Precio del automÃ³vil elÃ©ctrico en dolares.

In [29]:
# 1. Se preparan los datos
X = df_precios_electricos[['FastCharge_miH', 'Efficiency_Whmi', 'RapidCharge', 'Range_Miles']]
y = df_precios_electricos['PriceDollar']

# 2. Se entrena el modelo
modelo_rf = RandomForestRegressor(n_estimators=50, random_state=42)
modelo_rf.fit(X, y)

# 3. Se obtiene el presupuesto del cliente
presupuesto_cliente = float(input("Ingrese su presupuesto en dÃ³lares: "))

# 4. Se crean nuevos datos con el presupuesto
nuevos_datos_prediccion = pd.DataFrame({'FastCharge_miH': [0], 'Efficiency_Whmi': [0], 'RapidCharge': [1], 'Range_Miles': [0]})

# Predicciones para las caracterÃ­sticas basadas en el presupuesto del cliente
predicciones = modelo_rf.predict(nuevos_datos_prediccion[['FastCharge_miH', 'Efficiency_Whmi', 'RapidCharge', 'Range_Miles']])

# Asignar las predicciones a las columnas correspondientes en el DataFrame
nuevos_datos_prediccion['FastCharge_miH'] = predicciones
nuevos_datos_prediccion['Efficiency_Whmi'] = predicciones
nuevos_datos_prediccion['RapidCharge'] = 1  # Establecer la condiciÃ³n de RapidCharge igual a 1
nuevos_datos_prediccion['Range_Miles'] = predicciones

# 5. Se identifican autos mÃ¡s eficientes dentro del presupuesto del cliente y con RapidCharge igual a 1
autos_eficientes_presupuesto = df_precios_electricos[(df_precios_electricos['PriceDollar'] >= presupuesto_cliente - 5000) & 
                                                     (df_precios_electricos['PriceDollar'] <= presupuesto_cliente + 5000) &
                                                     (df_precios_electricos['RapidCharge'] == 1)]

# Se ordena el DataFrame por Range_Miles de manera descendente
autos_eficientes_presupuesto = autos_eficientes_presupuesto.sort_values(by='Range_Miles', ascending=False)

# Se seleccionan los primeros 5 registros
top_5_autos = autos_eficientes_presupuesto.head(5)

# Se muestran los autos mÃ¡s eficientes dentro del presupuesto del cliente y con RapidCharge igual a 1
print("Top de autos mÃ¡s eficientes dentro del presupuesto del cliente y con carga rÃ¡pida:")
top_5_autos

Top de autos mÃ¡s eficientes dentro del presupuesto del cliente y con carga rÃ¡pida:

,Brand,Model,FastCharge_miH,Efficiency_Whmi,RapidCharge,Range_Miles,PriceDollar
15,Volkswagen,ID.3 Pro S,590.0,175,1,273.403240,43801.52
37,CUPRA,el-Born,570.0,181,1,264.082675,48150.00
53,Skoda,Enyaq iV 80,560.0,183,1,260.975820,42800.00
25,Volkswagen,ID.4,560.0,183,1,260.975820,48150.00
71,Skoda,Enyaq iV 80X,540.0,193,1,248.548400,48150.00

In [27]:
df_precios_electricos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Brand            103 non-null    object
 1   Model            103 non-null    object
 2   FastCharge_miH   103 non-null    float64
 3   Efficiency_Whmi  103 non-null    int64
 4   RapidCharge      103 non-null    int64
 5   Range_Miles      103 non-null    float64
 6   PriceDollar      103 non-null    float64
dtypes: float64(3), int64(2), object(2)
memory usage: 5.8+ KB

In [25]:
df_precios_electricos.to_csv("Precios_Autos_Electricos.csv")